<%- include('../_partial/_navbarAdminPanel'); -%>

  <html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
      }


      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 85%;
        margin-left: 210px;

      }

      td {
        border: 1px solid #c8c8c8;
        text-align: left;
        padding: 8px;
      }

      th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .headercolor {
        background-color: black;
        color: #dddddd;
      }

      .updateform {
        padding: 20px;
        margin-left: 20%;
        border: 5px;
        border-color: black;
        background-color: rgb(254, 231, 254);
        width: 30%;
        border-radius: 5%;
        font-family: berlin sans fb;
        font-size: 20px;
      }

      .input {
        padding: 10px;
        font-size: 15px;
        width: 100%;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body>
    <br><br><br><br><br> <br>

    <h1 style="margin-left: 15%;">Appointments</h1>

    <table>
      <thead>
        <tr class="headercolor">
          <th>id</th>
          <th>Required Service</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Contact Number</th>
          <th>Date</th>
          <!--<th>Time</th>-->
          <th>Message</th>
          <th>Action</th>
          <th>Action</th>
        </tr>
      </thead>


      <tbody>
        <%_ appointments.forEach((row, index)=> { _%>
          <tr>
            <td>
              <%= row.appointmentID %>
            </td>
            <td>
              <%= row.service %>
            </td>
            <td>
              <%= row.firstname %>
            </td>
            <td>
              <%= row.lastname %>
            </td>
            <td>
              <%= row.email %>
            </td>
            <td>
              <%= row.contactnumber %>
            </td>
            <td>
              <%= row.date %>
            </td>
            <!--<td>
              <%= row.time %>
            </td>-->
            <td>
              <%= row.message %>
            </td>
            <td>
              <a href="/editAppointments/<%= row._id %>" class="text-success" style="margin:auto;display: block;width: 115px;height: 30px;background: #4E9CAF;padding:2px;text-align: center;border-radius: 5px;color: white;line-height: 25px;">Update</a>
            </td>
            <td>
              <a href="/deleteAppointments/<%= row._id %>" class="text-danger" style="margin:auto;display: block;width: 115px;height: 30px;background: #4E9CAF;padding:2px;text-align: center;border-radius: 5px;color: white;line-height: 25px;">Delete</a>
            </td>
          </tr>


          <%_ }) _%>
      </tbody>


    </table>

    

  </body>

  </html>