<%- include('../_partial/_navbarAdminPanel'); -%>

  <html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      div.content {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;
      }

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 85%;
        margin-left: 210px;

      }

      td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      .headercolor {
        background-color: black;
        color: #dddddd;
      }

      .updateform {
        padding: 20px;
        margin-left: 20%;
        border: 5px;
        border-color: black;
        background-color: rgb(254, 231, 254);
        width: 30%;
        border-radius: 5%;
        font-family: berlin sans fb;
        font-size: 20px;
      }

      .input {
        padding: 10px;
        font-size: 15px;
        width: 100%;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body>
    <br><br><br><br><br> <br>

    <h1 style="margin-left: 15%;">Inquiries</h1>

    <table>
      <tr class="headercolor">
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Message</th>
        <th>Action</th>
      </tr>
      <% contacts.forEach(function(contact, index) { %>
        <tr>
          <td>
            <%= index %>
          </td>
          <td>
            <%= contact.contactname %>
          </td>
          <td>
            <%= contact.contactemail %>
          </td>
          <td>
            <%= contact.contactno %>
          </td>
          <td>
            <%= contact.message %>
          </td>
          <td>
            <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
            <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
          </td>
        </tr>
        <% }) %>
    </table>


    <br><br><br>

    <h1 style="font-weight: bold; font-size: 30px;margin-left: 20%;">Update Inquiry</h1>
    <div class="updateform">
      <form method="post" action="">
        <div>
          <p>Name</p>
          <div>
            <input class="input" type="text" name="name" placeholder="Name" />
          </div>
        </div>
        <br>
        <div>
          <p>Email</p>
          <input class="input" type="email" name="email" placeholder="Email" />
        </div>
        <br>
        <div>
          <p>Contact Number</p>
          <input class="input" type="tel" name="contactnumber" placeholder="Contact Number" pattern="[0-9]{10}" />
        </div>
        <br>
        <div>
          <p>Message</p>
          <textarea class="input" rows="5" placeholder="Message" name="message"
            style="width: 100%;font-size: 15px; border: none;font-family: Arial, Helvetica, sans-serif;"></textarea>
        </div>


        <div style="margin-left: 30%; margin-top: 30px; margin-bottom: 20px;">
          <button type="submit"
            style="padding: 10px; cursor: pointer; font-family: berlin sans fb; font-size: 20px;">Update</button>
          <button type="reset"
            style="padding: 10px; cursor: pointer; font-family: berlin sans fb; font-size: 20px;">Cancel</button>
        </div>

      </form>
    </div>

  </body>