<%- include('../_partial/_navbarAdminPanel'); -%>
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            div.content {
                margin-left: 200px;
                padding: 1px 16px;
                height: 1000px;
            }

            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 85%;
                margin-left: 210px;

            }

            td {
                border: 1px solid white;
                text-align: left;
                padding: 8px;
            }

            th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

            .headercolor {
                background-color: black;
                color: #dddddd;
            }

            .updateform {
                padding: 20px;
                margin-left: 20%;
                border: 5px;
                border-color: black;
                background-color: rgb(254, 231, 254);
                width: 30%;
                border-radius: 5%;
                font-family: berlin sans fb;
                font-size: 20px;
            }

            .input {
                padding: 10px;
                font-size: 15px;
                width: 100%;
                border: none;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>

    <body>
        <br><br><br><br><br> <br>

        <h1 style="margin-left: 15%;">Services</h1>

        <table>
            <tr >
                <th colspan="3" style="background-color: black; color: white;">Add Service</th>
            </tr>
            <tr style="background-color: rgb(167, 119, 177);">
                <th>Name</th>
                <th>Description</th>
                <!--<th>Animals</th>-->
                <th>Price</th>
            </tr>
            <form method="post" action="/addService">
                <tr style="background-color: rgb(225, 204, 228);">
                    <td>
                        <input class="input" type="text" name="servicename" placeholder="Service Name" required />
                    </td>
                    <td>
                        <!--<input type="text" name="servicedescription" placeholder="Service Description" style="padding: 10px;" required/>-->
                        <textarea rows="5" placeholder="Service Description" name="servicedescription"
                            style="width: 100%;font-family: Arial, Helvetica, sans-serif; border: none; font-size: 15px;"
                            required></textarea>
                    </td>
                    <!--<td>
                        <input type="text" name="serviceanimals" placeholder="Animals" />
                    </td>-->
                    <td>
                        <input class="input" type="text" name="serviceprice" placeholder="Price" />
                    </td>

                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;">
                        <button type="submit"
                            style="padding: 10px; background-color: rgb(178, 248, 173); cursor: pointer; width: 50%;">ADD
                            SERVICE</button>
                    </td>
                </tr>
            </form>
        </table>
        <br><br><br>
        <table>
            <tr class="headercolor">
                <th>Name</th>
                <th>Description</th>
                <!--<th>Animals</th>-->
                <th>Price</th>
                <th colspan="2">Action</th>
            </tr>
            <% services.forEach(function(service, index) { %>
                <tr>

                    <td>
                        <%= service.servicename %>
                    </td>
                    <td>
                        <%= service.servicedescription %>
                    </td>
                    <!--<td>
                        <%= service.animals %>
                    </td>-->
                    <td>
                        <%= service.price %>
                    </td>
                    <td>
                        <a href="/editServices/<%= service._id %>" class="text-success"
                            style="margin:auto;display: block;width: 90px;height: 30px;background: #4E9CAF;padding:2px;text-align: center;border-radius: 5px;color: white;line-height: 25px; text-decoration: none;">Edit</a>
                    </td>
                    <td>
                            <a href="/deleteServices/<%= service._id %>" class="text-danger"
                            style="margin:auto;display: block;width: 90px;height: 30px;background: rgb(233, 63, 63);padding:2px;text-align: center;border-radius: 5px;color: white;line-height: 25px;text-decoration: none;">Delete</a>
                    </td>
                </tr>
                <% }) %>
        </table>



        <br><br><br><br><br> <br><br>
        <!--
        <a href="/servicesAdmin" style="margin-left: 15%;display: block;background: purple;padding:2px;padding: 20px; font-size: 20px; width: 20%;
            text-align: center;border-radius: 5px;color: white;line-height: 25px; text-decoration: none;">Services
            List</a>

        <h1 style="font-weight: bold; font-size: 30px;margin-left: 20%;">Update Service</h1>
        <div class="updateform">
            <form method="post" action="">
                <div>
                    <p>Service Name</p>
                    <div>
                        <input class="input" type="text" name="name" placeholder="Service Name" required />
                    </div>
                </div>
                <br>
                <div>
                    <p>Service Description</p>
                    <textarea rows="5" placeholder="Service Description" name="servicedescription"
                        style="width: 100%;font-size: 15px; border: none;font-family: Arial, Helvetica, sans-serif;"
                        required></textarea>
                </div>
                <br>
                <div>
                    <p>Service Price</p>
                    <input class="input" type="text" name="serviceprice" placeholder="Service Price" />
                </div>

                <div style="margin-left: 30%; margin-top: 30px; margin-bottom: 20px;">
                    <button type="submit"
                        style="padding: 10px; cursor: pointer;font-family: berlin sans fb; font-size: 20px; background-color: rgb(147, 209, 147);border: none;">Update</button>
                    <button type="reset"
                        style="padding: 10px; cursor: pointer; font-family: berlin sans fb; font-size: 20px; background-color: rgb(232, 139, 139); border: none;">Cancel</button>
                </div>

            </form>
        </div>
    -->
        <br><br><br><br><br>
    </body>

    </html>