<%- include('../_partial/_header'); -%>

    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('/images/servicesback.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }

            .cover {
                width: 50%;
                height: 50%;
                margin-left: 30% ;
                margin-right: 20%;
            }


            .collapsible {
                background-color: #7299c4;
                color: white;
                cursor: pointer;
                padding: 20px;
                width: 80%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
            }

            .active,
            .collapsible:hover {
                background-color: #9be3df;
            }

            .collapsible:after {
                content: '\002B';
                color: white;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

            .active:after {
                content: "\2212";
            }

            .contentservices {
                padding: 0 18px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                background-color: whitesmoke;
                width: 80%;
            }
        </style>
    </head>

    <body><br><br><br><br><br> <br><br><br>



        
            <img src="/images/servicescover.jpg" alt="vet" class="cover">
            

                <h2>Our Main Services</h2>
                <h3>Best Care For Your Best Friend</h3>
                <br>
                <p align="justify">At PetVet, we believe our customers view their animal friends as extensions of their
                    family. This is why
                    our suite of services, including wellness programmes and disease diagnosis and treatment, are
                    designed
                    to connect, care and cure your companions. <br> <br>

                    We offer the following services for companion (including equines) and exotic animals. These include
                    wellness programs as well as disease diagnosis and treatment, including surgery, dentistry and
                    diagnostic imaging (X-Ray/Scan).</p>
            </div>
        




        <br><br><br>


        
        <p>Services What We Offer</p>
        <% services.forEach(function(service, index) { %>
        <button class="collapsible"><%= service.servicename %></button>
        <div class="contentservices">
            <!--<p><%= service.animals %></p>-->
            <p><%= service.price %></p>
            <p><%= service.servicedescription %></p>
        </div>
        <% }) %>


        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                    }
                });
            }
        </script>



<br><br><br><br><br>
        <!--<table>
            <tr class="headercolor">
                <th>Name</th>
                <th>Description</th>
                <th>Animals</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <% services.forEach(function(service, index) { %>
                <tr>

                    <td>
                        <%= service.servicename %>
                    </td>
                    <td>
                        <%= service.servicedescription %>
                    </td>
                    <td>
                        <%= service.animals %>
                    </td>
                    <td>
                        <%= service.price %>
                    </td>
                    <td>
                        <a href="" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                        <a href="" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                    </td>
                </tr>
                <% }) %>
        </table> -->

        <br><br><br><br><br>
    </body>

    </html>

    <%- include ('../_partial/_footer'); -%>