<%- include('../_partial/_header'); -%>

    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            * {
                margin-bottom: 0px;
            }

            body {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('/images/servicesback.jpg');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }

            .cover {
                width: 50%;
                height: 50%;
                margin-left: 25%;
            }

            .servicesimg {
                width: 50%;
                height: 50%;
                margin-left: 25%;
                margin-top: 0%;

            }

            .desc {
                margin-top: 10%;
                margin-left: 15%;
                margin-right: 15%;
                text-align: center;
                font-family: cursive;
                color: #ba3b89;
                font-size: 20px;
                font-weight: bold;
            }

            .collapsible {
                background-color: #7299c4;
                color: white;
                cursor: pointer;
                padding: 20px;
                width: 50%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 20px;
                margin-left: 25%;
                font-family: kristen itc;
            }

            .active,
            .collapsible:hover {
                background-color: #9be3df;
                color: cornflowerblue;
            }

            .collapsible:after {
                content: '\002B';
                color: white;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

            .active:after {
                content: "\2212";
            }

            .contentservices {
                padding: 0 20px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
                background-color: whitesmoke;
                width: 50%;
                margin-left: 25%;
                font-family: comic sans ms;
                color: rgb(45, 45, 129);
            }
        </style>
    </head>

    <body><br><br><br><br><br> <br><br><br>




        <img src="/images/servicescover.jpg" alt="vet" class="cover">


        <div class="desc">
            <h3 style="font-family: jokerman; font-size: 50px; color: #9d2baa;">Best Care For Your Best Friend</h3>

            <p>At Lil Paws, we believe our customers view their animal friends as extensions of their
                family.
                <br><br>
                We make sure to offer the best service for you and your pet
                while your stay at our clinic.
                <br><br>
                Friendly team of vets and staff will
                keep your pet comfortable and happy during the treatments.
                <br><br>
                Visit our clinic to get the best experience ever.
                <br><br>
                OUR PROMISE IS TO OFFER YOU A BEST QUALITY SERVICE
            </p>

        </div>





        <br><br><br>



        <p
            style="font-family: papyrus; margin-left: 36%; margin-bottom: 0px; font-size: 50px; font-weight: bold; color: rgb(41, 173, 173);">
            Our Main Services</p>
        <img src="/images/servicesimgtwo.png" alt="vet" class="servicesimg">

        <% services.forEach(function(service, index) { %>
            <button class="collapsible">
                <%= service.servicename %>
            </button>
            <div class="contentservices">
                <!--<p><%= service.animals %></p>-->
                <p>
                    <%= service.price %>
                </p>
                <p>
                    <%= service.servicedescription %>
                </p>
            </div>
            <% }) %>


                <script>
                    var coll = document.getElementsByClassName("collapsible");
                    var i;

                    for (i = 0; i < coll.length; i++) {
                        coll[i].addEventListener("click", function () {
                            this.classList.toggle("active");
                            var content = this.nextElementSibling;
                            if (content.style.maxHeight) {
                                content.style.maxHeight = null;
                            } else {
                                content.style.maxHeight = content.scrollHeight + "px";
                            }
                        });
                    }
                </script>

                <img src="/images/servicesimgone.jpg" alt="vet" class="servicesimg">

                <br><br><br><br><br>

                <br><br><br><br><br>
    </body>

    </html>

    <%- include ('../_partial/_footer'); -%>